#homepage {
    width: 100vw;
    height: 100vh;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#homepage h1 {
    font-size: 300px
}

#homepage h6 {
    font-size: 50px
}